/node_modules
/public/hot
/public/storage
/public/.htaccess
.htaccess
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
.idea/vcs.xml
.idea/workspace.xml

/mnb-new/public/images/profile/
/public/frontend_assets/assets_front/images
/public/frontend_assets/assets_front/video
/public/frontend_assets/cv
/public/frontend_assets/images
/public/frontend_assets/Videos

