/node_modules
/public/hot
/public/storage
/public/.htaccess
.htaccess
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
.idea/vcs.xml
.idea/workspace.xml
/public/volume/
/mnb-new/public/images/profile/
/public/frontend_assets/image/
/public/img/
/public/images/
/public/payagreementpaper/
